.dept-main{
width: 100%;
height: 80vh;
display: flex;
justify-content: center;
align-items: center;

}
.dept-container{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 60%;
    margin: 0 5px 30px 5px ;
    background-color: white;
    border-top: 2px solid #445969;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 10px 0 10px;
    
}
.dept-label{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dept-inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width: 768px){
    .dept-container{
        display: flex;
        justify-content:center;
        align-items:center;
        height: 60%;
        width: 40%;
        margin: 0 5px 30px 5px ;
        background-color: white;
        border-top: 2px solid #445969;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    form{
        gap: 50px;
    }
}